DATABASE_URL=""
DATABASE_POOL_SIZE=5
DATABASE_OVERFLOW=10
DATABASE_TIMEOUT=30
DATABASE_RECYCLE=1800
DATABASE_ECHO=False

UPLOAD_DESTINATION="uploads"

# Ollama
OLLAMA_URL="http://localhost:11434"
VISION_LANGUAGE_MODEL="qwen:3.5:2b" # used for image description
VISION_LANGUAGE_PROMPT="Explain what you see in the image in 1 to 2 sentences."

# Qdrant
QDRANT_HOST="localhost"
QDRANT_PORT=6333
